.TicTacToe{
    position: absolute;
    top: 7px;
    left: 10px;
    right: 100px;
    bottom: 100px;
    height: 35px;
    width: 120px;
    z-index: 2;
    border: none; outline: none;
    color:white;
    background-color: rgba(28,28,28,0);
}
.rectangle{
    background-color: #3b2310;
    position: relative;
    left: -10px;
    bottom: 10px;
    height: 50px;
    width: 5000px;
    margin:auto;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('sources/1.jpg');
    background-color: #000000;
}
.infbann{
    color: white;
    font-size: 50px;
}
.next{
    position: relative;
    width: 40px;
    height: 20px;

    left: 70px;
    margin:auto;
}
img{
    position: relative;
    left: 70px;
    width: 800px;
}
.frac{
    position: relative;
    top: 70px;
    left: 20px;
    width: 150px;
    margin:auto;
}
.pressthebutton{
    position: relative;
    top: 100px;
    font-size:50px;
    color: white;
}
.aserai{
    position: absolute;
    left:50px;
    top:250px;
    margin:auto;
}
.battan{
    position: absolute;
    left:200px;
    top:250px;
    margin:auto;
}
.sturgia{
    position: absolute;
    left:350px;
    top:250px;
    margin:auto;
}
.imperia{
    position: absolute;
    left:500px;
    top:250px;
    margin:auto;
}
.khuzait{
    position: absolute;
    left:680px;
    top:250px;
    margin:auto;
}
.vlandia{
    position: absolute;
    left:830px;
    top:250px;
    margin:auto;
}